run = ["python", "frame_dev.py"]
entrypoint = "README.md"
modules = ["python-3.11:v30-20240222-aba8eb6"]
hidden = [".pythonlibs"]
disableGuessImports = true
disableInstallBeforeRun = true

[nix]
channel = "stable-23_11"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "$PYTHONPATH:$REPL_HOME/.pythonlibs/lib/python3.11/site-packages"

[workflows]

[[workflows.workflow]]
name = "[Package] pypi upload"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/pypi_upload.py | tee logs/pypi_upload.log 2>&1"

[[workflows.workflow]]
name = "[Package] git commit"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/git_commit.py"

[[workflows.workflow]]
name = "————————————————"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ""

[[workflows.workflow]]
name = "[Util] create zip"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/create_zip.py"

[[workflows.workflow]]
name = "[Util] build"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf dist build *.egg-info && python  setup.py sdist bdist_wheel"

[[workflows.workflow]]
name = "[Util] tests"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pytest ./tests | tee logs/tests.log 2>&1"

[[workflows.workflow]]
name = "[Util] demo"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ./examples | tee logs/demo.log 2>&1"

[[workflows.workflow]]
name = "[Util] update workflows"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/update_workflows.py | tee logs/update_worflows.log 2>&1"

[[workflows.workflow]]
name = "————————————————"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ""

[[workflows.workflow]]
name = "[Format] ruff"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ruff format"

[[workflows.workflow]]
name = "————————————————"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ""

[[workflows.workflow]]
name = "[Report] pyright"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pyright --warnings | tee logs/pyright.log 2>&1"

[[workflows.workflow]]
name = "[Report] flake8"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flake8 --exclude */. --exclude ./build  | tee logs/flake8.log 2>&1"

[[workflows.workflow]]
name = "[Report] ruff"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ruff check ./src  | tee logs/ruff.log 2>&1"
