run = ["python", "main.py"]

entrypoint = "docs/README.md"
modules = ["python-3.11:v30-20240222-aba8eb6"]

hidden = [".pythonlibs"]

disableGuessImports = true
disableInstallBeforeRun = true

[nix]
channel = "stable-23_11"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "$PYTHONPATH:$REPL_HOME/.pythonlibs/lib/python3.11/site-packages"

[workflows]

[[workflows.workflow]]
name = "pypi upload"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/pypi_upload.py | tee scripts/pypi_upload.log 2>&1"

[[workflows.workflow]]
name = "Ruff"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ruff format"

[[workflows.workflow]]
name = "create zip"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/create_zip.py"

[[workflows.workflow]]
name = "git commit"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python scripts/git_commit.py"

[[workflows.workflow]]
name = "build"
mode = "sequential"
author = 299513

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf dist build *.egg-info && python  setup.py sdist bdist_wheel"
